<div class="container">
  <div class="row-fluid">
    <ul class="nav nav-list span3 well">
      {{#each model}}
      <li>{{#linkTo "user" this}}{{first}}{{/linkTo}}</li>
      {{/each}}
    </ul>
    <div class="span9 well">{{outlet}}</div>
  </div>
</div>
