<h2>Edit User</h2>
<form class="form-inline" {{action save on="submit"}}>
  <label>
    First:
    {{input type="text" value=first}}
  </label><br>

  <label>
    Last:
    {{input type="text" value=last}}
  </label>

  <div class="controls">
    <button type="submit" class="btn btn-primary">Done</button>
  </div>
</form>
